{% extends 'base.html' %}
{% block title %} Photos {% endblock %}

{% block content %}
<article>
    <style>
    article {
        left: 0;
        margin-left: 0;
        width: 100%;    
    }
    .photo_list {
        margin-top: 80px;
    }
    .photo_list li {
        list-style: none;
        display: inline-block;
    }
    .photo_list img {
        width: 250px;
    }
    .arrow {
        width: 20px;
        height: 270px;        
        display: inline-block;
        margin-right: 16px;
        border: medium none;        
    }
    .previous {
        background: url('/static/arrow-left.svg') no-repeat center;      
        float: left;
    }
    .next {
        background: url('/static/arrow-right.svg') no-repeat center;      
        float: right;
    }
    form input[type=text], input[type=number] {        
        display: inline-block;        
        width: 175px;
    }
    form input.place {
        width: 400px;
    }
    </style>
    <form method="GET">
    {% csrf_token %}
        <legend>Filters</legend>
        <input type="text" class="place" name="place" id="place" placeholder="Place name">
        <input type="number" name="year" min=1900 max=2100 placeholder="year">
        <input type="number" name="month" min=1 max=12 placeholder="month">
        <input type="number" name="day" min=1 max=31 placeholder="day">
        <input type="text" name="time" pattern="([01]?[0-9]{1}|2[0-3]{1})" placeholder="Time only hours"/><br>
        <input class="btn" type="submit" name ="submit" value="Filter">
    </form>
    </article>
<div class="photo_list">
    <legend style="color: white">Photos - ({{ page_obj.number }} of {{ page_obj.paginator.num_pages }})</legend>
    <botton class="btn arrow previous"></botton>
    <ul style="display: inline-block; width: 800px;">
    {% for photo in object_list %}
        <li>
            <a href="{% url 'photos:detail' photo.pk %}">
                <img src="{{ photo.picture_crop.url }}" alt="?">
            </a>
        </li>
    {% empty %}
    <li>No photos yet.</li>
    {% endfor %}
    </ul>
    <botton href="?page={{ page_obj.next_page_number }}" class="btn arrow next"></botton>
</div>
{% if is_paginated %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            ({{ page_obj.number }} of {{ page_obj.paginator.num_pages }})
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endif %}
{% endblock %}
