{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %} Upload {% endblock %}

{% block content %}
<style type="text/css">

</style>
<script>
$(function() {
	$( "#datepicker" ).datepicker( { dateFormat: 'yy-mm-dd' });
	//$( "#datepicker" ).datepicker();
});
</script>

<!--<form action="" method="post" enctype="multipart/form-data" >{% csrf_token %}
	{#{ form.picture }#}
	{#% render_field form.date id="datepicker" %#}
	{#{ form.time }#}
    {#{ form.as_p }#}
    <input type="submit" value="Upload" />
</form>-->

	<article class="form">
    <legend>Subir una foto nueva</legend>
    <form  action="" method="post" method=POST enctype="multipart/form-data">
    <div id="errData" style="display:none">
        {{ form.picture.errors }}
        {{ form.date.errors }}
        {{ form.time.errors }}
        {{ form.place.errors }}
    </div>
    {% csrf_token %}
    <div class="uploadContainer">
        <input type="text" id="uploadFileName" required="required" placeholder="Choose File" class="file"/>
        {% render_field form.picture id="uploadForm" style="display: none" %}
        <input type="button" class="btn" id="uploadBtn" style="margin:3px" value="Browse"></input>
    </div>    
    <div>
        {% render_field form.date id="datepicker" class="fecha" placeholder="yy-mm-dd" required="required" %} 
    </div>
    <div>
        {% render_field form.time id="datepicker" class="time" placeholder="HH:MM" required="required" %} 
    </div>
    <div>
        {% render_field form.place class="place" placeholder="Lugar" required="required" %} 
    </div>
    <input type="submit" value="Upload" class="btn"><br>
    </form>
    <div style="height:100px"></div>
	</article>
    <script type="text/javascript">
        var uploadFileNameElement = document.getElementById("uploadFileName");
        var uploadContainerElement = document.getElementsByClassName("uploadContainer")[0];
        //setear valor inicial al input que contiene la dir de la foto actual.
        //truco input file tuneado
        document.getElementById("uploadForm").onchange = function () {
            uploadFileNameElement.value = this.value;
        };
        document.getElementById("uploadBtn").onclick = function () {
            document.getElementById("uploadForm").click();
        }
        //eliminar texto molesto de django
        var e = uploadContainerElement;
        var ns = e.childNodes;
        for (var i=0; i < ns.length; i++) { var n = ns[i]; if (n.nodeName == "#text") n.remove();}
    </script>
{% endblock %}
