{% extends 'base.html' %}
{% block title %} Photos {% endblock %}

{% block content %}
<article>
    <style>
    article {
        left: 0;
        margin-left: 0;
        width: 100%;    
    }
    .photo_list {
        /*margin-top: 80px;*/
        margin-top: -20px;
        position: relative;
    }
    .photo_list li {
        list-style: none;
        display: inline-block;
    }
    .photo_list ul {
        display: inline-block;
        width: 950px;
        position: absolute;
        left: 40px;
    }
    .photo_list img {
        width: 230px;
    }
    .arrow {
        position: absolute;
        width: 20px;
        height: 470px;    
        display: inline-block;
        margin-right: 16px;
        border: medium none;        
    }
    .previous {
        background: url('/static/arrow-left.svg') no-repeat center;      
    }
    .next {
        background: url('/static/arrow-right.svg') no-repeat center;
        right: 0px; 
    }
    form input[type=text], input[type=number] {        
        display: inline-block;        
        width: 175px;
    }
    form input.place {
        width: 400px;
    }
    </style>
    <script type="text/javascript">
    $(document).keydown(function(k){        
        if (k.key == "Left") {
            var a = $(".previous a")[0]
            a.click()
        }
        else if (k.key == "Right") {
            var a = $(".next a")[0]
            a.click()
        }
    });
    </script>
    <form method="GET">
    {% csrf_token %}
        <legend>Photos - ({{ page_obj.number }} of {{ page_obj.paginator.num_pages }})</legend>
        <input autofocus type="text" class="place" name="place" id="place" placeholder="Place name">
        <input type="number" name="year" min=1900 max=2100 placeholder="year">
        <input type="number" name="month" min=1 max=12 placeholder="month">
        <input type="number" name="day" min=1 max=31 placeholder="day">
        <input type="text" name="time" pattern="([01]?[0-9]{1}|2[0-3]{1})" placeholder="Time only hours"/><br>
        <input class="btn" type="submit" name ="submit" value="Filter" style="visibility: hidden; display: absolute; top: -99999px">
    </form>
    </article>
<div class="photo_list">    
    {% if page_obj.has_previous %}
    <botton class="btn arrow previous">
        <a href="?page={{ page_obj_page_number }}"><span class="elastic-link"></span></a>
    </botton>
    {% endif %}
    <ul>
    {% for photo in object_list %}
        <li>
            <a href="{% url 'photos:detail' photo.pk %}">
                <img src="{{ photo.picture_crop.url }}" alt="?">
            </a>
            <!--{{ photo.date }}-->
        </li>
    {% empty %}
    <li>No photos yet.</li>
    {% endfor %}
    </ul>
    {% if page_obj.has_next %}
    <botton class="btn arrow next">
        <a href="?page={{ page_obj.next_page_number }}">
            <span class="elastic-link"></span>
        </a>
    </botton>
    {% endif %}
</div>
{% endblock %}
