{% extends 'base.html' %}
{% block title %} Detail {% endblock %}

{% block content %}
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
var enable_tagging = false

function activate_tagging() {
   document.getElementById('welcomeDiv').style.display = "block";
   eneable_tagging = true;
}

function etiquetar(a, b) {
    $.ajax({
      url: "/addtag",
      data: {'photo_id':{{ photo.pk }}, 'x':a, 'y': b},
      context: document.body
    }).done(function() {
      alert("You are correctly tagged on this photo");
    });
    eneable_tagging = false;
    document.getElementById('welcomeDiv').style.display = "none";
}

$(function() {
$("#foto img").click(function(e) {
  if (eneable_tagging == true) {
  var offset = $(this).offset();
  var relativeX = Math.round(e.pageX - offset.left);
  var relativeY = Math.round(e.pageY - offset.top);
  alert('the position of your tag is X : '+relativeX+'  Y : '+relativeY);
  etiquetar(relativeX, relativeY);
  }
});
});

</script>
<h1>Details</h1>
<p>Date and Time: {{ object.date }} at {{object.time}}</p>
<p>Place: {{ object.place }}</p>

<div id="welcomeDiv"  style="display:none;" class="answer_list" > Haga click en la posición que se quiere etiquetar</div>
<a id = "foto">
<img src="{{ object.picture.url }}" class="img-responsive img-detail" alt=""></a>

{% if user.is_staff %}
<input type="button" onclick="location.href='{% url 'photos:delete' photo.pk %}';" value="Eliminar" />
{% endif %}
<input type="button" onclick="activate_tagging()"  value="Etiquetarse" />


{% endblock %}

