{% extends 'base.html' %}
{% block title %} Photos {% endblock %}

{% block content %}
<article>
    <style>
    article {
        left: 0;
        margin-left: 0;
        width: 400px;
        display: inline-block;
    }
    .photo_list {
        float: right;
        width: 700px;        
    }
    .photo_list li {
        list-style: none;
        display: inline-block;
    }
    </style>
    <form method="GET">
    {% csrf_token %}
        <legend>Filters</legend>
        <input type="text" name="place" id="place" placeholder="Place name"><br>
        <input type="number" name="year" min=1900 max=2100 placeholder="year">
              <input type="number" name="month" min=1 max=12 placeholder="month">
              <input type="number" name="day" min=1 max=31 placeholder="day"><br>
        <input type="text" name="time" pattern="([01]?[0-9]{1}|2[0-3]{1})" placeholder="Time only hours"/><br>
        <input class="btn" type="submit" name ="submit" value="Filter"><br>
    </form>
    </article>
<div class="photo_list">
    <legend style="color: white">Photos</legend>
    <ul>
{% for photo in object_list %}
    <li>
        <a href="{% url 'photos:detail' photo.pk %}">
            <img src="{{ photo.picture_crop.url }}" alt="?">
        </a>
    </li>
{% empty %}
<li>No photos yet.</li>
{% endfor %}
</ul>
</div>
{% if is_paginated %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endif %}
{% endblock %}
