{% load staticfiles %}
{% load widget_tweaks %}
<html>
<head>
    <title>Login</title>    
    <link rel="stylesheet" type="text/css" href="{% static "login.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "notify.css" %}">
    <script type="text/javascript">
    window.onload = function(){
    	var error = document.getElementById('errData');
    	var errorMsg = error.innerHTML
    	if (errorMsg != "") {
    		console.log(errorMsg)
    		document.getElementById('notifErrMsg').innerHTML = error.getElementsByTagName('li')[0].innerHTML
    		var e = document.getElementById("errorBox")
    		e.className = e.className + " is-visible";
    	}
    }
    </script>
</head>
<!--<h1> Sign in with your Fotolink Accountt </h1><br>-->
<body>
	<div class="login">
		<h1>Photo <img class="mini-logo" src="{% static "link_icon.png" %}"> Link</h1>
		<form  action="" method="post">
		    {% csrf_token %}			
			<p style="color: white">Muchas gracias por usar nuestra aplicacion!.</p>
		    <!--<input type="submit" value="submit"><br>-->
		    <a href="/login" style="color: rgb(255, 255, 255); text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); letter-spacing: 1px; text-align: center; display: block; margin-top: 10px; text-decoration: none;">Volver al login.</a>
		    <a href="/register" style="color: rgb(255, 255, 255); text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); letter-spacing: 1px; text-align: center; display: block; margin-top: 10px; text-decoration: none;">Register</a>
		</form>		
	
	</div>	
	<div id="errorBox" class="notification error"><h5>Uh oh</h5><p id="notifErrMsg">This is an error D:</p> <a class="close" href="#">×</a></div>
	<div id="errData" style="visibility:hidden">{{ form.non_field_errors }}</div>
</body>
</html>
			
