
{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}Change Password{% endblock %}

{% block content %}
<!--<textarea onclick="this.focus();this.select()" style="width: 100%;"> {% filter force_escape %} {% debug %} {% endfilter %}</textarea>-->
	<article id="perfil">        
    <legend>Change Password - {{ user }}</legend>
    <form  action="" method="post">
    <div id="errData" style="visibility:hidden">{{ form.edad.errors }}</div>
    {% csrf_token %}
    {% render_field form.old_password class="password" placeholder="Old Password" required="required" %}
    {% render_field form.old_password.errors %}


    {% render_field form.new_password1 class="password" placeholder="New Password" required="required" %}
    {% render_field form.new_password1.errors %}

    {% render_field form.new_password2 class="password" placeholder="Password Confirmation" required="required" %}
    {% render_field form.new_password2.errors %}
    {% render_field form.non_field_errors %}
    {#{ form.as_p }#}
    <input type="submit" value="Update" class="btn"><br>
    </form>
    <div style="height:100px"></div>
	</article>
    <style type="text/css">        
        #perfil {
        	color: white;
            width: 600px;
            position: relative;
            margin-top: 50px;
            left: 50%;            
            margin-left: -300px;
            /*border: 1px solid rgba(0, 0, 0, 0.3);
            border-radius: 4px;
            background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.3);*/
        }
        #perfil legend {
            padding-bottom: 10px;
            margin-bottom: 20px;
            font-size: 1.5rem;
            border-bottom: 1px solid #ECF0F1;
            width: 100%;
        }
        #perfil input[type=text], 
        #perfil input[type=password], 
        #perfil input[type=email], 
        #perfil input[type=url], 
        #perfil input[type=number] {
            box-sizing: border-box;
            border: 1px solid #CFD9DB;
            background-color: transparent;
            border-radius: 0.25em;            
            width: 100%;
            padding: 16px;            
            color: white;
            font-family: "Open Sans",sans-serif;
            font-size: 1.2rem;
            margin-bottom: 30px;
        }
        #perfil .btn {
            border: solid 1px white;
            background-color: transparent;
            border-radius: 0.25em;
            padding: 16px 20px;
            color: #FFF;
            font-weight: bold;
            float: right;
            cursor: pointer;
            -moz-appearance: none;
            transition: 0.5s background-color;
        }
        #perfil .btn:hover {
            background-color: rgba(201, 200, 200, 0.17);
        }
        #perfil input[type="submit"] {
            width: 100%;
        }
        #perfil input:focus {
            outline: medium none;
            border-color: #2C97DE;
            box-shadow: 0px 0px 5px rgba(44, 151, 222, 0.2);
        }
        #perfil ul.errorlist {
            margin-top: -23px;
        }

    </style>
{% endblock %}

