{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fotolink|{% block title %}{% endblock %}</title>
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">-->
    <link rel="stylesheet" type="text/css" href="{% static "notify.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "base.css" %}">
     <link rel="stylesheet" href="{% static "jqueryui/jquery-ui.css" %}">
    <!--<script src="{% static "jqueryui/jquery-1.10.2.js" %}"></script>-->    
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="{% static "jqueryui/jquery-ui.js" %}"></script>    
    <!--Notificaciones-->
    <script type="text/javascript">    
    $(function(){
        function actualizar() {
            $.ajax({
              url: "/notifications",
              //data: {'photo_id':{{ photo.pk }}, 'x':34, 'y':45},
              context: document.body
            }).done(function(data) {
                //console.log(data.notif_list[0])
                var notifs = data.notif_list
                $("li.notif ul.dropdown").empty()                
                var news = 0
                for(var i=notifs.length - 1; i >= 0; i--) {
                    var notif = notifs[i]
                    var li = document.createElement('li')
                    if (!notif.seen) {
                        li.setAttribute('class',"new")
                        news++
                    }
                    if (notif.type == 'tag') {
                        li.innerHTML = "<a href='/accounts/" 
                            + notif.sender_id + "'>" + notif.sender + "</a>"  
                            + " se ha etiquetado en <a href='/%2Fphotos/"
                            + notif.tagged_photo_id
                            +"'>esta foto</a>!"
                    } else if (notif.type == 'friend_request') {
                        li.innerHTML = "<a href='/accounts/" 
                            + notif.sender_id + "'>" + notif.sender + "</a>"  
                            + " te ha enviado una <a href='/accounts/invitations/'>solicitud de amitad</a>!"
                    } else {
                        li.innerHTML = notif.text;
                    }
                    $("li.notif ul.dropdown").append(li);
                }
                $("#jewelCount").text(news)                              
                if (news > 0)
                    $("#jewelCount").show()
                else
                    $("#jewelCount").hide()
            }).fail(function(){
                console.log("daemon error, not connected?")
            });            
        }
        actualizar()
        var daemon = setInterval(function(){actualizar()}, 5000)
        mouse_is_inside = false;
        $('li.notif img').click(function(){
            $("#jewelCount").hide()
            $('li.notif ul.dropdown').toggle()
            $.ajax({
              url: "/notifications",
              data: {'action':'all_seen'},
              context: document.body
            }).done(function(data) {
                
            }); 
        })
        $('ul.dropdown').hover(function(){ 
            mouse_is_inside=true; 
        }, function(){ 
            mouse_is_inside=false; 
        });

        $("body").mouseup(function(){ 
            if(! mouse_is_inside) $('ul.dropdown').hide();
        });
        //mensaje de error
        var error = document.getElementById('errData');
        var errorMsg = error.innerHTML
        if (error.getElementsByTagName('li').length > 0) {
            console.log(errorMsg)
            document.getElementById('notifErrMsg').innerHTML = error.getElementsByTagName('li')[0].innerHTML
            var e = $("#errorBox")
            e.addClass("is-visible");
            e.hover(function(){
                e.removeClass("is-visible")
            });
        }
        $("#logout").click(function(){
            $(".cd-popup").addClass("is-visible")
        })
        $("#logout-cancel").click(function(){
            $(".cd-popup").removeClass("is-visible")
        })
        $("#change-bg").click(function(){
            $("body").toggleClass("monta")
        })
    }); 
    </script>
</head>
<body>
    <div class="wrapper">
    <div class="shadow"></div>
    <div class="cd-popup" role="alert"> <!--https://codyhouse.co/gem/simple-confirmation-popup/-->
        <div class="cd-popup-container">
        <p>Are you sure you want to log out?</p>
        <ul class="cd-buttons">
            <li><a href="/logout/">Yes</a></li>
            <li><a id="logout-cancel">No</a></li>
        </ul>
        </div> <!-- cd-popup-container -->
    </div> <!-- cd-popup -->
    <nav>
        <div class=logo>
            <span>PhotoLink</span>
        </div>
        <div class=menu>
            <ul>
                <li><a href="/" class="menu-item">Home</a></li>
                <li><a href="/upload/" class="menu-item">Upload</a></li>
                <li><a href="/photos/" class="menu-item">Photos</a></li>
                <li><a href="/accounts/people" class="menu-item">People</a></li>
                <li><a href="/accounts/links/" class="menu-item">Friends</a></li>
                <li><a href="/accounts/invitations/" class="menu-item">Invitations</a></li>
            </ul>
        </div>
        <div class="menu left" style="margin-top:-10px">
            <ul>
                <li class="notif with-dropdown">
                    <img src="{% static "bell.svg" %}"
                            style="width: 30px;position: relative;top: 9px;">
                    <span id="jewelCount">?</span>
                    <ul class="dropdown">
                    </ul>
                </li>
                <li><a href="/password_change" class="menu-item">Change password</a></li>
                <li><a id="logout" class="left menu-item">
                    {% if user.is_staff %}
                    <img src="{% static "log_out.png" %}"
                    style="width: 30px;position: relative;top: 9px;">Logout({{user.username}})-soysuper</a>
                    {% else %}
                    <img src="{% static "log_out.svg" %}"
                    style="width: 30px;position: relative;top: 9px;">Logout({{user.username}})</a>
                    {% endif %}
                </li>
                <li>
            </ul>
        </div>
    </nav>
    <section>
        {% block content %}
        {% endblock %}
    </section>
    <footer>
            <div id="errorBox" class="notification error"><h5>Uh oh</h5><p id="notifErrMsg">This is an error D:</p> <a class="close" href="#">×</a></div>
            <div id="errData" style="display: none">{{ form.non_field_errors }}</div>
    </footer> 
    <div id="change-bg"></div>
</body>
</html>

