{% extends 'base.html' %}
{% block title %} Friends {% endblock %}

{% block content %}
<h1>Friends</h1>
    <form method="GET">
    {% csrf_token %}
        <h1>Filter?¡?¡?</h1>

{% for object in object_list %}
    <li>
        <p>
            <img src="{{ object.avatar_crop.url }}" alt="avatarNotFound">
            <a href="{% url 'user:oprofile' object.pk %}">{{object.nombre}}</a>
            <a href="{% url 'user:oprofile' object.pk %}">({{object.usuario}})</a>
        </p>
    </li>
{% empty %}
    <li>No friends yet.</li>
{% endfor %}
</ul>
{% endblock %}
