{% extends 'base.html' %}
{% block title %} Friends {% endblock %}

{% block content %}
<article>
    <style type="text/css">
        #people-list {
            width: 100%;
            margin: 0;
            padding: 0;
        }
        #people-list span.name {
            position: absolute;
            top: 65%;
            margin-top: -25px;
            margin-left: 10px;
            font-size: 1.5em;
        }
        #people-list form {
            position: absolute;
            top: 100%;
            width: 100%;
        }
        #people-list span.name:first-letter {
            text-transform: uppercase;
        }
        #people-list li {
            list-style: outside none none; 
            width: 100%; 
            height: 50px; 
            border: 1px solid rgba(255, 255, 255, 0.19); 
            border-radius: 5px; 
            position: relative;
            margin-bottom: 15px;
        }
        #people-list li:hover {
            background-color: rgba(0, 0, 0, 0.08);
        }

    </style>

    <legend>These people want to be you friend!</legend>
<ul id="people-list">
{% for object in object_list %}
    <li>
            <a href="{% url 'user:oprofile' object.from_user_id %}">
            <span class="elastic-link"></span></a>
            <span class="name">{{object.from_user}}</span>
            <form method="GET">
                {% csrf_token %}
                <input class="button" type="submit" name="Decline" value="Decline"/>
                <input class="button" type="submit" name="Accept" value="Accept"/>
                <input type="hidden" name="requestID" value="{{ object.pk }}" />
            </form>
    </li>
{% empty %}
        You don't have any friendship request yet
{% endfor %}
</ul>
</article>
{% endblock %}

