@font-face {
    font-family: "Grand Hotel";
    src: url("GrandHotel-Regular.otf") format("opentype");
}
@font-face {
    font-family: "FiraSans-Bold";
    src: url("FiraSans-Bold.otf") format("opentype");
    /*src: url("JosefinSans-Bold.ttf") format("truetype");*/
}        
body, html {            
    height: 100%;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;  
    /*background-image: url('http://localhost:8000/static/background_low.jpg');*/
    background-image: url('/static/mount-fuji-highest-mountain-in-japan-osx-lion-wallpaper.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    background-position: center center;
    color: white;
}

#logout, #logout-cancel {
    cursor: pointer;
}

#logout-prompt {
    position: fixed;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.6);
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
}

/*hace que un link cubra un div*/
.elastic-link {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
    top: 0;
    left: 0;
}

.shadow {
    position: fixed;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.6);
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}


nav .menu , nav .logo {
    display: inline-block;
    height: 100%;        
}

nav .logo span{
    color: #FFF;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
}

nav {
    position: absolute;
    top: 0px;
    height: 90px;
    /*background-color: red;*/
    width: 80%;
}
nav .menu ul {
    height: 100%;
    margin-top: 0;
}
nav .menu ul li {
    list-style: none;
    display: inline-block;  
}
nav .menu.left {
    float: right;
}
nav .menu ul li a.menu-item {
    text-decoration: none;
    color: #FFF;
    opacity: 0.7;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 15px;
    display: block;
    -webkit-transition: opacity 1s;            
    transition: opacity 1s;
}

nav .menu li a.menu-item:hover {
    opacity: 1;
}

li.notif {
    margin-right: 15px;
}
li #jewelCount {
    font-size: 12px;
    border-radius: 50%;
    color: #FFF;
    padding: 1px 3px;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(#FA3C45, #DC0D17);
    height: auto;
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 0px;
    display: none;
}

nav li.with-dropdown {
    position: relative;
}

nav ul.dropdown {
    z-index: 100;
    display: none;
    position: absolute;
    padding-left: 0px;
    color: #FFF;
    width: 200px;
    left: -110px;
    top: 50px;
    margin-left: 50%;
    height: auto;
    background-color: rgba(125, 0, 0, 0.91);
    border-radius: 8px;
}

nav ul li.notif ul.dropdown li.new {
    background-color: rgba(255, 255, 0, 0.13);
    border-radius: 8px;
}

nav ul.dropdown > li {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 253, 253, 0.18);
    width: 100%;
    text-align: center;
    padding-top: 5px;
}
nav ul.dropdown > li:last-child {
    border-bottom: none;
}

section {
    top: 60px;
    position: relative;
    margin-top: 50px;
}

h1, .h1 {
   font-size: 36px;
}
h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.cursive {
    font-family: "Grand Hotel",cursive;
}

a {
    text-decoration: none; color: rgb(105, 44, 243);
}

article {
    color: white;
    width: 600px;
    position: relative;    
    left: 50%;            
    margin-left: -300px;
    /*border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.3);*/
}
legend {
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    border-bottom: 1px solid #ECF0F1;
    width: 100%;
}

input , select {
    background-color: transparent;
}

input[type=text], 
input[type=email], 
input[type=url], 
select,
input[type=number] {
    box-sizing: border-box;
    border: 1px solid #CFD9DB;
    border-radius: 0.25em;            
    width: 100%;
    padding: 16px;            
    color: white;
    font-family: "Open Sans",sans-serif;
    font-size: 1.2rem;
    margin-bottom: 30px;
}
select {
    background-color: transparent;
}
.btn {
    border: solid 1px white;
    background-color: transparent;
    border-radius: 0.25em;
    padding: 16px 20px;
    color: #FFF;
    font-weight: bold;
    float: right;
    cursor: pointer;
    -moz-appearance: none;
    transition: 0.5s background-color;
}
.btn:hover {
    background-color: rgba(201, 200, 200, 0.17);
}
input[type="submit"] {
    width: 100%;
}
input:focus {
    outline: medium none;
    border-color: #2C97DE;
    box-shadow: 0px 0px 5px rgba(44, 151, 222, 0.2);
}
input.time {
    background: url('/static/icons/clock.svg') no-repeat scroll 16px center transparent;
    padding-left: 54px !important;
    width: calc(100%);
    background-size: 40px 40px;
}
input.fecha {
    background: url('/static/icons/calendar.svg') no-repeat scroll 16px center;
    padding-left: 60px !important;
    width: calc(100%);
    background-size: 40px 40px;
}
input.file {
    background-color: transparent;
    width: calc(100% - 120px);
}

.uploadContainer {
    color: transparent;
}
.uploadContainer br { 
    display: none; 
}
.uploadContainer a { 
    display: none;
}
.avatar {
    width: 50px;
    position: relative;
    float: left;
    top: 3px;
    margin-right: 10px;
    border-radius: 20%;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 0px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.cd-popup {
    position: fixed;
    z-index: 3;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease 0s, visibility 0s ease 0.3s;
}
 
.cd-popup.is-visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease 0s, visibility 0s ease 0s;
}
 
.cd-popup-container {
    z-index: 5;
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: 4em auto;
    background: none repeat scroll 0% 0% #FFF;
    border-radius: 0.25em 0.25em 0.4em 0.4em;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-40px);
    transition-property: transform;
    transition-duration: 0.3s;
    top: 200px;
}
.cd-popup .cd-buttons {
    margin: 0;
    padding: 0;
    list-style: none;
}
 
.is-visible .cd-popup-container {
  transform: translateY(0);
}

.cd-popup-container .cd-buttons li:first-child a {
    background: none repeat scroll 0% 0% #FC7169;
    border-radius: 0px 0px 0px 0.25em;
}

.cd-popup-container .cd-buttons li:last-child a {
    background: none repeat scroll 0% 0% #B6BECE;
    border-radius: 0px 0px 0.25em;
}

.cd-popup-container p {
    color: black;
    padding: 3em 1em;
}

.cd-popup-container .cd-buttons li {
    width: 50%;
    display: inline-block;
    margin-left: -2px;
    margin-right: -2px;
}

.cd-popup-container .cd-buttons a {
    width: 100%;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFF;
    transition: background-color 0.2s ease 0s;
}